@keyframes notify-start {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes notify {
    from { top: 10px }
    to { top: 70px }
}

@keyframes notify-end {
    from { opacity: 1 }
    to { opacity: 0 }
}

.notification-start {
    position: absolute;
    right: 10px;
    top: 10px;
    animation: 
        notify-start .5s, 
        notify 2s .5s, 
        notify-end .5s 2.5s;
    animation-fill-mode: forwards;
    color: black;
    padding: 5px;
}

.notification-end {
    display: none;
}